.bakerupdateorder {
  margin-left: 40px;
  margin-top: 10px;
}

.updatecakesubmit {
  margin-left: -40px;
}

.ordertable {
  margin-top: 40px;
}

/* .updateorder {
  margin-top: 30px;
} */

.updatecake {
  margin-top: 30px;
}


.footer-area {
  margin-top: 120px;
}
